body {
  font-family: Arial, sans-serif;
}


h1 {
  text-align: center;
  color: #333;
  font-size: 40px;
}


h2 {
  text-align: center;
  color: #333;
  font-size: 30px;
}


.homepage {
  text-align: center;
  padding: 20px;
  align-items: center;
}


.homepage-container {
  display: flex;
  flex-direction: column; /* Change to stack vertically */
  align-items: center; /* Center content horizontally */
  margin: 10px;
}


.homepage-column {
  background-color: #d2d2d2; /* Darker background color */
  border-radius: 10px;
  padding: 20px;
  width: 40%; /* Adjust width for the desired stacking behavior */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 10px 0; /* Add vertical margin between columns */
}

#button-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

#Button-home {
  width: 40%;
  background-color: greenyellow;
  border-radius: 16px;
  height: 80px;
  size: 36px;
  align-items: center;
}

.selection-column-title {
  text-align: center;
  color: #333;
}


.selection-column-desc {
  color: #3c3c3c;
  margin: 20px 0;
}


.selection-column-career {
  color: #333333;
  margin: 20px 0;
}


.selection-column-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}


.selection-column-button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {

  
  .homepage-column {
    width: 80%;
  }
  
  #button-wrapper {
    flex-direction: column;
  }
  
  #Button-home {
    width: 100%;
    margin: 10px 0;
  }
}