.login-Page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f4f6;
  font-size: 2rem;
}

.login-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 20rem;
}

.formInput {
  margin-bottom: 1rem;
  padding: 2%;
}

.inputBoxLogin {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  width: 90%;
  height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.Button {
  width: 100%;
  background-color: #2563eb;
  color: #fff;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

button:hover {
  background-color: #3b82f6;
}

.subText {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}
